.userTable {
  width: 60%;
  margin: 50px auto;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.2);

}
.userTable table {
  width: 100%;
  margin-top : 30px;
}
.userTable table thead th{
    background-color: rgb(55, 79, 238);
    color: white;
}
.userTable table tbody td{
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
.actionButtons button{
    margin : 0 10px;    
}